<!DOCTYPE html>
<html>
    
<%- include ('./layout/header') %>

<body>
    <div id='list'>
        <h1>Border List</h1>

        <% if(session) { %>
            <div class='login-info'>
                <button class='btn btn-secondary btn-sm' onclick='location.href="/logout"'>Logout</button>
            </div>
        <% } else { %>
            <div class='login-info'>
                <button class='btn btn-secondary btn-sm' onclick='location.href="/login"'>Login</button>
            </div>
        <% } %>

        <div class='write-btn'>
            <button class='btn btn-secondary btn-sm' onclick='location.href="/write"'>Write</button>
        </div>

        <table class='table'>
            <thead class='thead-dark'>
                <tr>
                    <th scope='col'>번호</th>
                    <th scope='col'>작성자</th>
                    <th scope='col'>제목</th>
                    <th scope='col'>등록일</th>
                </tr>
            </thead>
            <tbody>          
            <%
            for(let i = (page * page_num) - page_num; i < (page * page_num); i++) {
                if(i > length) {
                    i++;
                } else {
                    let data = docs[i]
            %>
                    <tr scope='row'>
                        <td><%= i+1 %></td>
                        <td><%= docs[i].writer %></td>
                        <td><a href='/<%=docs[i].id%>'><%= docs[i].title %></a></td>
                        <td><%= docs[i].regdate %></td>
                    </tr>
            <% }
            }
            %>
            <tr>
                <td colspan='4'>
                    <% for(let j = 0; j < docs.length / page_num; j++){ %>
                    [<a href='/page/<%= j + 1 %>'><%= j + 1 %></a>]
                    <% } %>
                </td>
            </tr>
        </tbody>
    </table>

    <form method='POST' action='/'>
        <select class='form-control select-box' name='select'>
            <option value='title'>제목</option>
            <option value='writer'>작성자</option>
        </select>
        <input type='text' name='txt' class='form-control form-box'>
        <button class='btn btn-dark'>Search</button>
    </form>

    </div>
</body>

</html>