<!DOCTYPE html>
<html>

<%- include ('./layout/header') %>

<body>
    <div id='read'>
        <h1>       
            <%= docs.title %>
        </h1>
        <div class='content'>
            <%= docs.content %>
        </div>

        <button class='btn btn-dark' onclick='location.href="/"'>목록</button>

        <% if(session === writer) { %>
            <div class='edit-btns'>
                <button class='btn btn-dark' onclick='location.href="/edit/<%= docs.id %>"'>수정</button>
                <form method='post' action='/delete/<%= docs.id %>?_method=delete'>
                    <button class='btn btn-dark'>삭제</button>
                </form>
            </div>
        <% } %>
        
    </div>
</body>

</html>